@import "../colors.css";

window#waybar {
    background-color: transparent;
    color: @foreground;
}

#custom-empty {
	color: transparent;
	background: transparent;
	padding: 50rem 70rem;
}

#custom-calendar {
	margin: 0.5rem 0.5rem;
    background-color: @black;
	border-radius: 0.25rem;
	padding: 1.5rem;
}

