* {
    font-family: Sarasa Fixed CL;
    font-size: 1rem;
	font-weight: bold;
}

@import "../colors.css";

window#waybar {
    background-color: transparent;
    color: @foreground;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar > box {
    border-radius: 6;
    background-color: transparent;
    margin-left: 5;
    margin-top: 5;
}

#custom-month {
    background-color: @background;
    color: @yellow;
    border-radius: 6 3 0 0;
    /* border-top: 2px solid @light-blue; */
    padding: 25 0 10 0;
	font-size: 16px;
}
#clock {
    background-color: @background;
    color: alpha(@foreground, 0.5);
    padding: 0 5 15 5;
}

#days {
    background: @background;
    padding: 0 20;
}

#dates {
    background: @background;
    border-radius: 0 0 3 3;
    /* border-bottom: 2px solid @light-blue; */
    padding: 0 20 31 20;
}

#custom-sunday {
    /*background-color: @module-bg;*/
    border-radius: 6 0 0 3;
    padding: 5;
}
#custom-monday, #custom-tuesday, #custom-wednesday, #custom-thursday, #custom-friday {
    /*background-color: @module-bg;*/
    padding: 5;
}
#custom-saturday {
    /*background-color: @module-bg;*/
    border-radius: 0 3 3 0;
    padding: 5;
}

#custom-sunday.today, #custom-monday.today, #custom-tuesday.today, #custom-wednesday.today, #custom-thursday.today, #custom-friday.today, #custom-saturday.today {
    /*background-color: @blue;*/
    color: @yellow;
    border-radius: 6;
}

#custom-su1, #custom-su2, #custom-su3, #custom-su4, #custom-su5,
#custom-mo1, #custom-mo2, #custom-mo3, #custom-mo4, #custom-mo5,
#custom-tu1, #custom-tu2, #custom-tu3, #custom-tu4, #custom-tu5,
#custom-we1, #custom-we2, #custom-we3, #custom-we4, #custom-we5,
#custom-th1, #custom-th2, #custom-th3, #custom-th4, #custom-th5,
#custom-fr1, #custom-fr2, #custom-fr3, #custom-fr4, #custom-fr5,
#custom-sa1, #custom-sa2, #custom-sa3, #custom-sa4, #custom-sa5 {
    padding: 10 5 3 5;
}

#custom-su1.today, #custom-su2.today, #custom-su3.today, #custom-su4.today, #custom-su5.today,
#custom-mo1.today, #custom-mo2.today, #custom-mo3.today, #custom-mo4.today, #custom-mo5.today,
#custom-tu1.today, #custom-tu2.today, #custom-tu3.today, #custom-tu4.today, #custom-tu5.today,
#custom-we1.today, #custom-we2.today, #custom-we3.today, #custom-we4.today, #custom-we5.today,
#custom-th1.today, #custom-th2.today, #custom-th3.today, #custom-th4.today, #custom-th5.today,
#custom-fr1.today, #custom-fr2.today, #custom-fr3.today, #custom-fr4.today, #custom-fr5.today,
#custom-sa1.today, #custom-sa2.today, #custom-sa3.today, #custom-sa4.today, #custom-sa5.today {
    /*background-color: @blue;*/
    color: @yellow;
    border-radius: 6;
}

#custom-su1.other-month, #custom-mo1.other-month, #custom-tu1.other-month, #custom-we1.other-month, #custom-th1.other-month, #custom-fr1.other-month, #custom-sa1.other-month,
#custom-su2.other-month, #custom-mo2.other-month, #custom-tu2.other-month, #custom-we2.other-month, #custom-th2.other-month, #custom-fr2.other-month, #custom-sa2.other-month,
#custom-su3.other-month, #custom-mo3.other-month, #custom-tu3.other-month, #custom-we3.other-month, #custom-th3.other-month, #custom-fr3.other-month, #custom-sa3.other-month,
#custom-su4.other-month, #custom-mo4.other-month, #custom-tu4.other-month, #custom-we4.other-month, #custom-th4.other-month, #custom-fr4.other-month, #custom-sa4.other-month,
#custom-su5.other-month, #custom-mo5.other-month, #custom-tu5.other-month, #custom-we5.other-month, #custom-th5.other-month, #custom-fr5.other-month, #custom-sa5.other-month {
	color: @gray;
}
